.App {
  text-align: center;
  background-color: black;
  color: white;
  /* margin: 0; */
  font-family: 'Rubik Distressed', cursive;

}

.App-header {
  background-color: black;
  /* min-height: 50px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-header {
  font-size: calc(50px + 2vmin);
}

.line {
  width: 90%;
  border-top: 4px solid white;
  margin-left: auto;
  margin-right: auto;
}

.App-footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: black;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



.gorilla-rack {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  margin-bottom: 4%;
  width: 90%;
}

.ccb-culture {
  align-self: flex-start;
  text-align: center;
  margin-left: 5%;
  font-size: calc(5px + 2vmin);
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.office-content {
  align-self: flex-start;
  text-align: left;
  margin-left: 5%;
  font-size: calc(5px + 2vmin);
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer-container {
  margin-top: 4%;
  margin-bottom: 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 90%;
  /* margin-left: 5%; */
  /* color: grey */
}

.icon {
  color: grey
}

.icon:hover {
  color: white
}

.social-links:hover {
  color: grey
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 600px;
}

.container {
  display: grid;
  grid-template-columns: 10rem 10rem 10rem;
  grid-gap: 1rem;
  grid-auto-flow: row;
}

.images {
  height: 500px;
  width: min-content;
}

.shadowbox {
  width: 15em;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}
