
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Rubik Distressed', cursive;
  src: local('Rubik Distressed'),
  url('./fonts/rubikdistressed.regular.ttf') format('truetype');
  font-weight: normal;
}